*{
    margin: 0;
    padding: 0;
}
html,body,.item,.carousel-inner,header,header img{
    height: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
}
a{
    color: lightpink;
    font-weight: bold;
    font-family: -webkit-pictograph;
    font-size: 1.7rem;
}
a:focus, a:hover{
    color: #fff;
}
#headerMask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
}
header .my-job{
    position: absolute;
    width: 52%;
    top: 40%;
    left: 50%;
    color: #fff;
    font-size: 4rem;
    font-weight: bolder;
    line-height: 100%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
header .my-job span{
    vertical-align: middle;
}
/*光标删除效果：*/
#introduce{
    width: 62%;
    display: inline-block;
    overflow: hidden;
    animation: delete 1s linear forwards;
}
@keyframes delete {
    to{
        width: 0;
    }
}
/*光标闪烁：*/
#delete{
    height: 100%;
    width: 0.5rem;
    display: inline-block;
    position: absolute;
    background: #fff;
    animation: bling 800ms ease infinite;
}
@keyframes bling {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
/*向下箭头跳动：*/
.pulse{
    position: absolute;
    width: 3%;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
/*加载动画背景样式：*/
.loading{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
    -webkit-transition: opacity 1s ease; ;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
/*加载动画垂直居中：*/
.load{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*去掉nav的背景色:*/
.nav-pills>li>a,.nav-pills>li.active>a,.nav-pills>li>a:focus,.nav-pills>li.active>a:focus, .nav-pills>li>a:hover,.nav-pills>li.active>a:hover{
    background-color: transparent;
}
.nav>li>a{
    padding: 12px 15px;
}
.nav-pills>li.active{
    color: #fff;
}
