html {
    box-sizing: border-box;
}
*,*:after,*:before {
    box-sizing: inherit;
}
body{
    line-height: unset;
}
html,body{
    height: 100%;
    width: 100%;
    position: relative;
    font-family: "Roboto", Helvetica, Arial, sans-serif;    
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
canvas{
    width: 100%;
 }
 #slogan{
     position: absolute;
     left: 50%;
     top: 50%;
     width: 70%;
     transform: translate(-50%,-50%);
 }
 a:hover,a:focus {
   color: #fff;
   text-decoration: none;
   outline: none;
 }
.glyphicon{
    top: inherit;
}
.glyphicon::before{
    font-size: .56rem;
}
/*loading:*/
.wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #ffb5b5;
    transition: all 1s linear;
    text-align: center;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.box {
    width: .6rem;
    height: .6rem;
    margin: 0 .3rem;
    position: relative;
    background-color: crimson;
    top: 45%;
    transform: translate(-50%,-50%);
    border-radius: 0%;
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation: change 1s infinite alternate;
    animation: change 1s infinite alternate;
}

.box:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.box:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.box:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes change {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        border-radius: 0%;
    }
    50% {
        -webkit-transform: translateY(150px) rotate(180deg);
        transform: translateY(150px) rotate(180deg);
        border-radius: 50%;
    }
    100% {
        -webkit-transform: translateY(0) rotate(360deg);
        transform: translateY(0) rotate(360deg);
        border-radius: 0%;
    }
}

@keyframes change {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
        border-radius: 0%;
    }
    50% {
        -webkit-transform: translateY(150px) rotate(180deg);
        transform: translateY(150px) rotate(180deg);
        border-radius: 50%;
    }
    100% {
        -webkit-transform: translateY(0px) rotate(360deg);
        transform: translateY(0px) rotate(360deg);
        border-radius: 0%;
    }
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* min-height: 100%; */
    position: relative;
}

.Quick-navigation {
    position: fixed;
    margin: 0;
    z-index: 20;
    top: 50%;
    right: 0;
    display: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Quick-navigation-item {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 1em;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    margin-bottom: .6rem;
    margin-right: .1rem;
    text-align: right;
    display: block;
}

.Quick-navigation-item:hover,
.Quick-navigation-item.current {
    color: #fff;
}
.landscape {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    opacity: .8;
    background-image:url('../img/top-mytree.png');
    /* background-size: 100% 100%; */
    background-repeat: repeat-x;
    background-position: center bottom;
}
#A .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fe5757;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;
}
@keyframes colorChange {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: .9;
    }
} 
#A {
    cursor: none;
    position: relative;
    background: black;
    min-height: 100%;
    background: linear-gradient(to bottom, #000000 0%, #204fbd 100%);
}

@font-face{  
    font-family: GeosansLight;  
    src:url('../css/GeosansLight.ttf');  
} 
@font-face{  
    font-family: Chinese;  
    src:url('../css/handan.ttf');  
} 
#slogan {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-family: GeosansLight;
    font-weight: bold;
    width: 55vw;
    word-spacing: .2rem;
    line-height: 100%;
}
#en-introduce{
    font-family: GeosansLight;
    font-size: .45rem;
}
#ch-introduce{
    font-size: .47rem;
    font-family: Chinese;
}

#slogan span {
    color: rgb(255, 117, 117);
}
#B {
    background-color: rgb(255, 117, 117);
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
}

#C {
    background-color: rgb(255, 151, 151);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: .3rem;
}

#D {
    background-color: rgb(255, 181, 181);
    padding: .2rem;
    overflow: hidden;
}


.Scroll-to-top {
    width: 1.2rem;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: .3rem;
    padding: 0.5em;
    cursor: pointer;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    outline: none;
}

.Scroll-to-top.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.Scroll-to-top:hover {
    color: rgba(255, 255, 255, 0.9);
}
.Scroll-progress-indicator {
    will-change: opacity, transform;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    left: -10px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    opacity: 0;
    padding: 2em;
    -webkit-transform: translateX(200%) translateY(-50%);
    transform: translateX(200%) translateY(-50%);
    background-color: rgba(0,0,0,0.1);
}
#me{
    width: 4rem;
    padding-top: 4rem;
    border-radius: 50%;
    background-image: url(../img/me.jpg);
    background-size: cover;
}
#en-introduce,#ch-introduce{
    margin: .5rem .4rem;
    padding: .4rem;
    word-spacing: .1rem;
    color: #000;
}
#photo-wall{
    padding: 5px;
}
#photo-wall span{
    display: block;
    z-index: 5;
    opacity: .5;
    height: inherit;
}
#photo-wall span:hover{
    opacity: 0;
    transition: all 1s ease;
}
#photo-wall .container li{
    margin: .2rem 0;
}
#photo-wall .container li a{
    display: block;
    position: relative;
}
#photo-wall .container img{
    width: 100%;
    filter: grayscale(100%);
    transition: all 1s ease;
}
#C .row{
    margin: 0;
}
#nav-projects{
    margin-left: 0;
    width: 71%;
    background: antiquewhite;
    padding: 0;
}
#projects-filters li{
    padding: 2% 0;
    font-size: .25rem;
    text-align: center;
}
#projects-filters li:hover{
    cursor: pointer;
}
#projects-filters li.selected{
    background-color: lightpink;
    color: #fff;
}
#D .container{
    height: 100%;
    width: 100%;
    padding: 0 .75rem;
}
form input,form button{
    height: .7rem;
    position: relative;
}
form button{
    margin-bottom: .5rem;
}
form button:hover{
    background: rgba(221, 160, 221,.8);
}
form input,form button,textarea{
    width: 100%;    
    margin-top: .2rem;
    padding: .1rem 0;
    border: none;
    color: #000;
    resize: none;
    outline: none;
    word-spacing: .1rem;
    letter-spacing: .05rem;
    text-indent: .5rem;
    background: rgb(255, 228, 196);
    overflow: hidden ;
    text-overflow: ellipsis ;
    white-space: nowrap ;   
}
#submit{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/envelope.png') no-repeat center;
    background-size: contain;
}
#con-photo{
    height: 1.5rem;
    position: relative;
    text-align: center;
}
#con-photo img{
    border-style: none;
    width: 1.5rem;
    height: inherit;
}
#con-logo{
    height: inherit;
    width: 5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#con-logo>div{
    display: inline-block;
    position: relative;
    height: inherit;
}
#hide-first{
    left: 2.95rem;
}
.hide-img{
    width: 20%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: all 600ms ease;
}
#hide-last{
    right: 2.95rem;
}
.show-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    filter: alpha(opacity = 0)
}
.beat-char {
    line-height: 2em;
    position: relative;
	display: inline-block;
	background: transparent;

}

.rotate{
	transform:rotate(360deg) ;
	-ms-transform:rotate(360deg); 	/* IE 9 */
	-moz-transform:rotate(360deg); 	/* Firefox */
	-webkit-transform:rotate(360deg); /* Safari 和 Chrome */
	-o-transform:rotate(360deg);
	-webkit-transition-duration: 0.7s;

}

@-webkit-keyframes load {
    0% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes load {
    0% {
      stroke-dashoffset: 0;
    }
  }
.progress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    height: inherit;
    background-color: transparent;
    overflow: inherit;
  }
  .progress > li {
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: Lato;
    margin: 1rem;
  }
  .progress > li:before {
    content: attr(data-name);
    position: absolute;
    width: 100%;
    bottom: -.7rem;
    font-weight: 400;
    font-size: .4rem;
  }
  .progress > li:after {
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    font-size: .7rem;
    text-align: center;
  }
  .progress svg {
    width: 4rem;
    height: 4rem;
  }
  .progress svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
  .progress svg:nth-child(2) path {
    fill: none;
    stroke-width: 25;
    stroke-dasharray: 629;
    stroke: rgb(255, 151, 151);
    opacity: .9;
    -webkit-animation: load 10s;
            animation: load 10s;
  }
