.rotate-container{
    height: 100%;
    position: relative;
}
.rotate-img{
    width: 100%;
    height: 100%;
}
.rotate-img img{
    display: none;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.rotate-img .selected{
    display: block;
}
.rotate-nav{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.rotate-nav li,.rotate-arrows div{
    background: #000;
    color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    float: left;
    cursor: pointer;
}
.rotate-nav .selected{
    background: orange;
}
.rotate-arrows .rotate-left.bottom{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.rotate-arrows .rotate-left.center{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0;
}
.rotate-arrows .rotate-right.bottom{
    position: absolute;
    left: 35px;
    bottom: 10px;
}
.rotate-arrows .rotate-right.center{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
}
